<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="production_production"
              name="Production"
              sequence="25"/>

    <menuitem id="production"
              name="production"
              parent="production.production_production"
              action="production.production_production_action"
              sequence="1"/>
</odoo>